.body-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
  margin-left: 40px;
}

.filter-btn{
  border: 2px solid rgb(244, 86, 38);
  border-radius: 5px;
  cursor: pointer;
  background-color: orangered;
  margin-left: 66px;
  font-weight: bolder;
}