.search-container {
    margin-left: 23px;
}

.rated-btn{
    margin-left: 50px;
}

.search-container input {
    border: 2px solid black;
    height: 20px;
}

.search-container .search-btn {
    height: 20px;
    margin-left: 5px;
    border: 2px solid black;
    
}
