.header {
    display: flex;
    justify-content: space-between;
    border: 6px solid black;
    border-radius: 10px;
    border-style: ridge;
    margin: 10px;
}

.nav-items{
    width: 600px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-left: 570px;
    padding-right: 10px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
    /* gap: 10px; */
    /* justify-content:flex-end; */
}
.nav-items ul li {
    padding: 10px;
}

.status{
    width: 180px;
}

.nav-link{
    text-decoration: none;
    color: black;
};

.nav-link:hover{
    color: red;
}
.nav-link.active{
    color: blue;
}

.logo {
    width: 100px;
    padding-left: 30px;
}
.btn-logged{
    width: 60px;
    height: 30px;
    border: 2px solid black;
    color: white;
    background-color: blue;
    /* margin: auto; */
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 5px;
    
}

.UserLogged{
    display: flex;
    gap: 10px;
}
.UserLogged li{
    width: 100px;
    margin-top: 30px;
    margin-right: 10px;
    align-items: center;
    height: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:  aqua;
    font-weight: bold;
    border-radius: 5px;
}