.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
}

.nav-items ul li {
    padding: 10px;
}

.logo {
    width: 100px;
}
.btn-logged{
    background-color: blue;
    color: white;
    margin-top: 25px;
    margin-right: 20px;
}