.header {
    display: flex;
    justify-content: space-between;
    border: 6px solid black;
    border-radius: 10px;
    border-style: ridge;
    margin: 10px;
}

.nav-items{
    width: 600px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-left: 570px;
    padding-right: 10px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    /* justify-content:flex-end; */
}

.nav-items ul li {
    padding: 10px;
}

.logo {
    width: 100px;
    padding-left: 30px;
}
.btn-logged{
    width: 60px;
    height: 60px;
    background-color: blue;
    color: white;
    margin-top: 18px;
    margin-right: 50px;
}