#card, #dynamic{
   width: 250px;
  height: 350px;
  background: #b2d2e8;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#card img{
    width: 100%;
    height: 200px;
}

#card h3,
#card h4,
#card h5 {
  margin: 2px 0;
  padding: 0;
  text-align: center;
}
